footer {
    margin-top: 150px;
    padding: 1rem;
    -webkit-box-shadow: -1px -1px 5px 0px rgba(10,7,1,1);
    -moz-box-shadow: -1px -1px 5px 0px rgba(10,7,1,1);
    box-shadow: -1px -1px 5px 0px rgba(10,7,1,1);
}