<div class="home__container">
  <div class="home__header container">
    <img src="assets/img/photo.jpg" alt="Foto Arthur" class="home__photo" />
    <h1>Oi! <br class="large-none"/><span>Eu sou o Arthur</span></h1>
  </div>
  <p class="home__content--desk container">
    Sou Desenvolvedor Full-Stack com experiência em desenvolvimento de sites
    institucionais para empresas, assim como sistemas web. Já atuei como
    Desenvolvedor em uma agência de marketing digital, criando sites para
    empresas que tinham como objetivo levar seu negócio para o mundo digital e
    assim escalar seus negócios. Também trabalhei dando suporte e criando novas
    implementações ao sistema de gestão pública de uma empresa,
    sistema o qual é utilizado por mais de 150 cidades do Rio Grande do Sul.
    Além dessas experiências, trabalho como freelancer disposto a ajudar pessoas
    e negócios!
  </p>
  <p class="home__content--mobile">
    Sou Desenvolvedor Full-Stack. <br />
    Será um prazer trabalhar com você!
  </p>
</div>
