.form__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__contact fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.form__contact label, input, textarea{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    outline: 0;
}

.form__contact input, textarea {
    padding: 15px;
}

.form__contact__button {
   border: none;
   display: block;
   background-color: var(--secondary-color);
   color: var(--primary-color);
   font-weight: 700;
   text-transform: uppercase;
   font-size: .8rem;
   letter-spacing: 1px;
   transition: .45s ease-in-out ;
}


@media (min-width: 768px) {
    .form__contact {
        width: 70%;
        margin: auto;
    }
}


@media (min-width: 992px) {
    .form__contact {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: .8rem;
    }

    .form__contact fieldset {
        width: 50%;
        margin: 1rem;
        flex: 1;
    }
    .form__contact fieldset h2 {
        align-self: self-start;
    }
    .form__contact input, textarea {
        margin-top: .5rem;
    }
    .form__contact__button {
        cursor: pointer;
        width: 200px;
        align-self: self-start;
        border: 2px solid var(--secondary-color);
        transition: .3s background;
    }
    .form__contact__button:hover {
        background: transparent;
        color: var(--secondary-color);
    }
}